<!DOCTYPE html>
<HTML lang="en">
  <HEAD>
    <TITLE>HBNB</TITLE>
  </HEAD>
  <BODY>
    {% if id == '0' %}
    <H1>States</H1>
    <UL>
      {% for i in states|sort(attribute='name') %}
      <LI>{{ i.id }}: <B>{{ i.name }}</B></LI>
      {% endfor %}
    </UL>
    {% else %}
    {% for j in states if j.id == id %}<H1>State: {{ j.name }}</H1>
    <H3>Cities:</H3>
    <UL>
    {% for k in state.cities|sort(attribute='name') %}
        <LI>{{ k.id }}: <B>{{ k.name }}</B></LI>
    {% endfor %}
    </UL>
    {% else %}<H1>Not found!</H1>{% endfor %}
    {% endif %}
  </BODY>
</HTML>